@media screen and (max-width : 850px) {
  .modal-content{
    width: 70%;
  }
  .update .events{
  background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url('img/bricks-small.jpg');
  background-position: center;
  background-attachment: fixed;
  }
  .update .WeSefrWahed p{
    margin-top: 20px;
  }
  .update .WeSefrWahed{
    padding-bottom: 50px;
  }
  .update .connectWithUs .row{
    max-width: 90%;
  }
  .update .connectWithUs{
    margin-bottom: 40px;
  }
  .update .getInTouch{
    margin: 5% auto;
    text-align: center;
  }
  .update .getInTouch h4 {
    margin-left: auto;
  }
  .update .contact-form{
    margin: 20px 0;
  }
  .update .connect input[type="text"], input[type="email"], textarea{
    width: 100%!important;
    margin: 4% 0;
  }
  .update .connect input[type="submit"]{
    margin: 4% auto;
  }
  .update .col1{
    width: 100%;
  }
  .update .events .col1{
    width: 100%;
  }
  .update .card1 img {
      height: 200px;
  }
  .update .card1 .data {
      height: 350px;
  }
  .update .card1 .data p{
    font-size: 60%;;
  }
}
@media screen and (min-width: 480px) and (max-width : 850px) {
  .update .card1 img {
      border-radius: 5px 5px 0 0;
      height: 300px;
  }
  .update .card1 .data {
      height: 200px;
  }
}
@media screen and (min-width: 830px) and (max-width : 1111px) {
  .modal-content{
    width: 50%;

  }
  .update .events .col1{
    margin: 0 auto;
    width: 60%;
  }
  .update .card1 img{
      height: 200px;
  }
  .update .card1 .data {
      height: 400px;
  }
  .update .card1 .data p{
    font-size: 60%;;
  }
  .update .row1{
    max-width: 90%;
  }
  .update .anwar{
    font-size: 18px;
  }
}
@media screen and (max-width : 1290px) {
   .update .card1 .data p{
    font-size: 60%;;
  }
  .update .events{
    padding: 6% 0;
  }
}
